<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">eslovaca</property>
        <property name="hibernate.connection.url">jdbc:mysql://ademaria:3306/infrared_homo_sapiens_63_37</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.default_catalog">infrared_homo_sapiens_63_37</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping class="org.bioinfo.infrared.core.Metadata" />
        <mapping class="org.bioinfo.infrared.core.AnnotatedMutation" />
        <mapping class="org.bioinfo.infrared.core.TypedefRelationship" />
        <mapping class="org.bioinfo.infrared.core.Tfbs" />
        <mapping class="org.bioinfo.infrared.core.Snp2functional" />
        <mapping class="org.bioinfo.infrared.core.AnnotationTermGeneCount" />
        <mapping class="org.bioinfo.infrared.core.GeneInteractomeParams" />
        <mapping class="org.bioinfo.infrared.core.Instance" />
        <mapping class="org.bioinfo.infrared.core.UnionOf" />
        <mapping class="org.bioinfo.infrared.core.Tf" />
        <mapping class="org.bioinfo.infrared.core.GoPropagated" />
        <mapping class="org.bioinfo.infrared.core.Snp2term" />
        <mapping class="org.bioinfo.infrared.core.Synonym" />
        <mapping class="org.bioinfo.infrared.core.Replaced" />
        <mapping class="org.bioinfo.infrared.core.EvidenceCode" />
        <mapping class="org.bioinfo.infrared.core.Consider" />
        <mapping class="org.bioinfo.infrared.core.Stanza" />
        <mapping class="org.bioinfo.infrared.core.Pwm" />
        <mapping class="org.bioinfo.infrared.core.AnnotatedSnpBkp" />
        <mapping class="org.bioinfo.infrared.core.OmegaCodon" />
        <mapping class="org.bioinfo.infrared.core.Triplex" />
        <mapping class="org.bioinfo.infrared.core.FeatureMapMirnaTarget" />
        <mapping class="org.bioinfo.infrared.core.GoParent" />
        <mapping class="org.bioinfo.infrared.core.PopulationFrequency" />
        <mapping class="org.bioinfo.infrared.core.XrefStanza" />
        <mapping class="org.bioinfo.infrared.core.TextMining" />
        <mapping class="org.bioinfo.infrared.core.Subsetdef" />
        <mapping class="org.bioinfo.infrared.core.FeatureMapOreganno" />
        <mapping class="org.bioinfo.infrared.core.TranscriptPositionPrefix" />
        <mapping class="org.bioinfo.infrared.core.SpliceSite" />
        <mapping class="org.bioinfo.infrared.core.TermSubclass" />
        <mapping class="org.bioinfo.infrared.core.GeneCoexpression" />
        <mapping class="org.bioinfo.infrared.core.NonCuratedMirnaTarget" />
        <mapping class="org.bioinfo.infrared.core.Cytoband" />
        <mapping class="org.bioinfo.infrared.core.GeneInteraction" />
        <mapping class="org.bioinfo.infrared.core.ProteinInteractor" />
        <mapping class="org.bioinfo.infrared.core.Orthologous" />
        <mapping class="org.bioinfo.infrared.core.IntersectionOf" />
        <mapping class="org.bioinfo.infrared.core.Term" />
        <mapping class="org.bioinfo.infrared.core.AnnotatedSnp" />
        <mapping class="org.bioinfo.infrared.core.KeggInfo" />
        <mapping class="org.bioinfo.infrared.core.FeatureMapJasparTfbs" />
        <mapping class="org.bioinfo.infrared.core.Alternative" />
        <mapping class="org.bioinfo.infrared.core.Xref" />
        <mapping class="org.bioinfo.infrared.core.Snp2transcriptConsequenceType" />
        <mapping class="org.bioinfo.infrared.core.Position2functional" />
        <mapping class="org.bioinfo.infrared.core.DiseaseMirnaTarget" />
        <mapping class="org.bioinfo.infrared.core.MirnaMature" />
        <mapping class="org.bioinfo.infrared.core.TextMining2document" />
        <mapping class="org.bioinfo.infrared.core.GenomeSequence" />
        <mapping class="org.bioinfo.infrared.core.TypedefSubclass" />
        <mapping class="org.bioinfo.infrared.core.SnpEffect" />
        <mapping class="org.bioinfo.infrared.core.Exon" />
        <mapping class="org.bioinfo.infrared.core.Disjoint" />
        <mapping class="org.bioinfo.infrared.core.Ontology" />
        <mapping class="org.bioinfo.infrared.core.ExonicSplicingSilencer" />
        <mapping class="org.bioinfo.infrared.core.ExonicSplicingEnhancer" />
        <mapping class="org.bioinfo.infrared.core.NotAnnotatedMutation" />
        <mapping class="org.bioinfo.infrared.core.StanzaMetainfo" />
        <mapping class="org.bioinfo.infrared.core.SnpXref" />
        <mapping class="org.bioinfo.infrared.core.FeatureMapTriplex" />
        <mapping class="org.bioinfo.infrared.core.Dbname" />
        <mapping class="org.bioinfo.infrared.core.FeatureMapExon" />
        <mapping class="org.bioinfo.infrared.core.SynonymTypedef" />
        <mapping class="org.bioinfo.infrared.core.Exon2transcript" />
        <mapping class="org.bioinfo.infrared.core.CpGIsland" />
        <mapping class="org.bioinfo.infrared.core.FeatureMap" />
        <mapping class="org.bioinfo.infrared.core.ConservedRegion" />
        <mapping class="org.bioinfo.infrared.core.TermRelationship" />
        <mapping class="org.bioinfo.infrared.core.Snp" />
        <mapping class="org.bioinfo.infrared.core.Typedef" />
        <mapping class="org.bioinfo.infrared.core.Snp2transcript" />
        <mapping class="org.bioinfo.infrared.core.Omega" />
        <mapping class="org.bioinfo.infrared.core.GoInfo" />
        <mapping class="org.bioinfo.infrared.core.MirnaGene" />
        <mapping class="org.bioinfo.infrared.core.Transcript" />
        <mapping class="org.bioinfo.infrared.core.ProteinInteraction" />
        <mapping class="org.bioinfo.infrared.core.Gene" />
        <mapping class="org.bioinfo.infrared.core.CuratedMirnaTarget" />
        <mapping class="org.bioinfo.infrared.core.FeatureMapSpliceSite" />
        <mapping class="org.bioinfo.infrared.core.ProteinInteractomeParams" />
    </session-factory>
</hibernate-configuration>
